html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#back{
    background-image: url(/imagens/meninopesadelo2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    
}

.start{
    display: block;
    width: 600px;
    margin: 0 auto;
    position: relative;
    
}

.textozada{
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 96px;
    background: conic-gradient(from 180deg at 50% 40.1%, #E95C0E -94deg, #FFF500 107.02deg, #E95C0E 266deg, #FFF500 467.02deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    width: 1200px;
    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
button{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
}

#conteudo{
    background-color: aliceblue;
}

img{
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.inicial{
    background-color: #000000;
    
}

.altocontraste #conteudo{
    background-color: #333333;
}

.altocontraste #conteudo p, h3{
    color: #f3f3f3;
}

.botao {
    background-color: #000000;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 100ms;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.botao:hover {
    transform: scale(1.2);
    background: #333333;
}



